version: '3.8'

services:
  postgres:
    image: postgres:15    
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${PG_DB}
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./dishto_backup.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network
  qdrant:
    image: qdrant/qdrant
    ports:
      - '6333:6333'  # HTTP API
      - '6334:6334'  # gRPC API
    volumes:
      - qdrant:/qdrant/storage
      - ./src/snapshots:/snapshots
    restart: always
    mem_limit: 256m
    cpus: 0.2
    environment:
      - QDRANT_ALLOW_ORIGIN=*
    networks:
      - app-network
  redis:
    image: redis:7    
    restart: always
    ports:
      - "6380:6379"
    networks:
      - app-network

volumes:
  postgres_data:
  qdrant:

networks:
  app-network:
    driver: bridge
