version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: dishto_postgres_db
    restart: always
    environment:
      POSTGRES_DB: dishto
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
