version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dishto_app
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - qdrant
      - redis
    networks:
      - app-network    
  postgres:
    image: postgres:15
    container_name: dishto_postgres_db
    restart: always    
    environment:
      POSTGRES_DB: ${PG_DB}
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}    
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d
    networks:
      - app-network
  qdrant:
    image: qdrant/qdrant    
    volumes:
      - qdrant:/qdrant/storage
      - ./src/snapshots:/snapshots
    restart: always
    mem_limit: 256m
    cpus: 0.2
    environment:
      - QDRANT_ALLOW_ORIGIN=*
    networks:
      - app-network
  redis:
    image: redis:7
    container_name: dishto_redis
    restart: always    
    networks:
      - app-network

volumes:
  postgres_data:
  qdrant:

networks:
  app-network:
    driver: bridge
